.container {
    max-width: 1600px;
}

.search {
    border-top: none;
    border-left: none;    
    border-right: none;
    width: 100%;
    text-align: center;
}

input:focus{
    box-shadow: 0 0 0 0;
    border-top: none;
    border-left: none;    
    border-right: none;
    outline: 0;
}

.card {
    max-width: 300px;   
    max-height: 350px;
    margin-top:20px!important;
    margin-bottom: 20px!important;
    cursor: pointer;
}

.btn-sm {
    height: 25px;
    line-height: 1;
    font-weight: bold;
}

.normal {
    height: 25px;
    line-height: 1;
    font-weight: bold;    
    background-color: #B8860B;
    color:white;
}

.fighting {
    height: 25px;
    line-height: 1;
    font-weight: bold;   
    background-color: #FF0000;
    color:white;
}

.flying {
    height: 25px;
    line-height: 1;
    font-weight: bold;   
    background-color: #9370DB;
    color:white;
}

.poison {
    height: 25px;
    line-height: 1;
    font-weight: bold;    
    background-color: #9400D3;
    color:white;
}

.ground {
    height: 25px;
    line-height: 1;
    font-weight: bold;    
    background-color: #F5DEB3;
    color:white;
}

.rock { 
    height: 25px;
    line-height: 1;
    font-weight: bold;    
    background-color: #BC8F8F;
    color:white;
    
}

.bug {
    height: 25px;
    line-height: 1;
    font-weight: bold;    
    background-color: #90EE90;
    color:white;
}

.ghost {
    height: 25px;
    line-height: 1;
    font-weight: bold;    
    background-color: #7B68EE;
    color:white;
}

.steel {
    height: 25px;
    line-height: 1;
    font-weight: bold;    
    background-color: #708090;
    color:white;
}


.fire {
    height: 25px;
    line-height: 1;
    font-weight: bold;    
    background-color: #FF4500;
    color:white;
}

.water {
    height: 25px;
    line-height: 1;
    font-weight: bold;    
    background-color: #00BFFF;
    color:white;
}

.grass {
    height: 25px;
    line-height: 1;
    font-weight: bold;    
    background-color: #00FF00;
    color:white;
}

.electric {
    height: 25px;
    line-height: 1;
    font-weight: bold;    
    background-color: #FFFF00;
    color:white;
}

.psychic {
    height: 25px;
    line-height: 1;
    font-weight: bold;   
    background-color: #FF1493;
    color:white;
}

.ice {
    height: 25px;
    line-height: 1;
    font-weight: bold;   
    background-color: #E0FFFF;
    color:white;
}

.dragon {
    height: 25px;
    line-height: 1;
    font-weight: bold;   
    background-color: #4B0082;
    color:white;
}

.dark {
    height: 25px;
    line-height: 1;
    font-weight: bold;    
    background-color: #8B4513;
    color:white;
    
}

.Fairy {
    height: 25px;
    line-height: 1;
    font-weight: bold;    
    background-color: #FFC0CB;
    color:white;
}
